footer{
  border-top-style: solid;
  border-top-color: lightseagreen;
  border-top-width: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  font-size: 20px;
  font-family: 'Bilbo', 'Times New Roman', Times, serif;
  text-align: center;
  color: black;
}

h1{
  text-align: center;
}

img{
  width: 200px;
  height: 200px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  text-align: center;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

#myTable tr {
  border: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  border: 1px solid #ddd;
}

.section-head {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: black;
}

.scroll-to-top {
  position: fixed;
  bottom: 2.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

.scroll{
 height: 70px;
 width: 70px;
 opacity: 0.5;
}